[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
solshare_airdrop = "BDz31MWVhr9GHkQq3q8BL4Sp2tcEWqoss2zjNz5dhZKw"
solshare_payment = "8ABx4UuH35a3V6VPyg5BmjkZVn7YYJq2a7VeCjdpWuzM"
solshare_social = "sGLNkcQKvfTVYvhJX8KVo4RrzEZL32UTo8ruwpFEHmG"
solshare_token_gate = "EeK73A5QDEmBCGVntKgRNYEtPRbKCkHAi2yfBLuMTQAz"

[programs.localnet]
solshare_airdrop = "BDz31MWVhr9GHkQq3q8BL4Sp2tcEWqoss2zjNz5dhZKw"
solshare_payment = "8ABx4UuH35a3V6VPyg5BmjkZVn7YYJq2a7VeCjdpWuzM"
solshare_social = "sGLNkcQKvfTVYvhJX8KVo4RrzEZL32UTo8ruwpFEHmG"
solshare_token_gate = "EeK73A5QDEmBCGVntKgRNYEtPRbKCkHAi2yfBLuMTQAz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
